# Files 
*.tar.gz
*.wav
*.jpg

active.txt
Leap_Second.dat
deltat.preds
deltat.data
run.sh
send_sstv.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp

# dir 
qsstv_9.2.6/
bin/
include/
lib/
docs/

